{% extends 'base.html' %}

{% block content %}
{% for new in news %}
    <div class="container mt-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{new.heading}}</h5>
                <a href="{{new.links}}" class="btn btn-primary">Read Full News</a>
            </div>
        </div>
    </div>
{% endfor %}

<div class="container">
    <div class="pagination">
        <span class="step-links m-auto">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}